@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@latest/dist/web/static/pretendard.css");

:root {
    --main-color: #0f1a4d;
    --black-color: #292929;
}

html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: Pretendard, sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: Pretendard, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    color: #1c1c1c;
}
body.scroll-lock {
    overflow: hidden;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    color: #1c1c1c;
}
button {
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
}
input {
    border: none;
    outline: none;
}
input[type='text'],
input[type='tel'],
input[type='password'],
textarea {
    font-family: inherit;
    border: none;
    outline: none;
    font-size: 16px;
}
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #fff inset;
    -webkit-text-fill-color: #000;
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    box-shadow: 0 0 0px 1000px #fff inset;
    -webkit-text-fill-color: #000;
}
select {
    color: inherit;
}
img {
    display: block;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
